security:
    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    providers:
        users_in_memory: { memory: null }
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        api:
            pattern: '^%app.path.prefix%'
            stateless: true
            anonymous: lazy
            guard:
                authenticators:
                    - DanskernesDigitaleBibliotek\AgencyAuthBundle\Security\TokenAuthenticator
        main:
            anonymous: true

    access_control:
        # Allows accessing the Swagger UI
        - { path: '^%app.path.prefix%/docs', roles: IS_AUTHENTICATED_ANONYMOUSLY }

    role_hierarchy:
        ROLE_OPENPLATFORM_AGENCY: [ROLE_COVER_READ]