default:
    suites:
        default:
            paths: [ '%paths.base%/tests/Behat/features' ]
            contexts:
                - App\Tests\Behat\AuthContext
                - App\Tests\Behat\FixturesContext
                - Behat\MinkExtension\Context\MinkContext
                - behatch:context:json
                - behatch:context:rest
                - behatch:context:browser

    extensions:
        FriendsOfBehat\SymfonyExtension:
            # https://github.com/FriendsOfBehat/SymfonyExtension/issues/126#issuecomment-704248564
            bootstrap: tests/bootstrap.php
        Behatch\Extension: ~
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
        DVDoug\Behat\CodeCoverage\Extension:
            reports:
                clover:
                    target: '%paths.base%/coverage/clover.xml'
                html:
                    target: '%paths.base%/coverage/html'
            filter:
                include:
                    directories:
                        'src':
                            suffix: '.php'
