default:
    suites:
        default:
            local_coverage_enabled: true
            paths: [ '%paths.base%/tests/Behat/features' ]
            contexts:
                - App\Tests\Behat\FixturesContext
                - Behat\MinkExtension\Context\MinkContext
                - behatch:context:json
                - behatch:context:rest
                - behatch:context:browser

    extensions:
        FriendsOfBehat\SymfonyExtension: null
        Behatch\Extension: ~
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
        BehatLocalCodeCoverage\LocalCodeCoverageExtension:
            target_directory: '%paths.base%/coverage'
