version: "3"

networks:
  frontend:
    external: true
  app:
    driver: bridge
    internal: false
    
services:
  mariadb:
    image: itkdev/mariadb
    networks:
      - app
    ports:
      - '3306'
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_USER=db
      - MYSQL_PASSWORD=db
      - MYSQL_DATABASE=db
      #- ENCRYPT=1 # Uncomment to enable database encryption.

  phpfpm:
    image: itkdev/php7.2-fpm
    networks:
      - app
    environment:
      - PHP_XDEBUG=${PHP_XDEBUG:-0}
      - PHP_XDEBUG_REMOTE_AUTOSTART=${PHP_XDEBUG_REMOTE_AUTOSTART:-0}
      - PHP_XDEBUG_REMOTE_CONNECT_BACK=${PHP_XDEBUG_REMOTE_CONNECT_BACK:-0}
      - PHP_MAX_EXECUTION_TIME=30
      - PHP_MEMORY_LIMIT=256M
      - DOCKER_HOST_DOMAIN=${COMPOSE_DOMAIN}
    depends_on:
      - mariadb
    volumes:
      - .:/app:delegated
      - vendor-cache:/app/vendor
      - $PWD/vendor:/app-vendor

    tmpfs:
      - /app/var/cache:size=1G
      - /tmp:size=1G

  nginx:
    image: nginx:latest
    networks:
      - app
      - frontend
    depends_on:
      - phpfpm
    ports:
      - '80'
    volumes:
      - ${PWD}/.docker/vhost.conf:/etc/nginx/conf.d/default.conf:ro
      - ./:/app:delegated
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.rule=Host(`${COMPOSE_DOMAIN}`)"

  redis:
    image: 'redis:4'
    networks:
      - app
    ports:
      - '6379'

  elasticsearch:
    image: 'elasticsearch:6.8.4'
    networks:
      - app
    environment:
      - node.name=es01
      - discovery.type=single-node
      - ELASTIC_PASSWORD="password"
      - xpack.license.self_generated.type=trial
      - xpack.security.enabled=true
      - xpack.security.http.ssl.enabled=true
      - xpack.security.http.ssl.key=/usr/share/elasticsearch/data/es01/es01.key
      - xpack.security.http.ssl.certificate_authorities=/usr/share/elasticsearch/data/ca/ca.crt
      - xpack.security.http.ssl.certificate=/usr/share/elasticsearch/data/es01/es01.crt
      - xpack.security.transport.ssl.enabled=true
      - xpack.security.transport.ssl.verification_mode=certificate
      - xpack.security.transport.ssl.certificate_authorities=/usr/share/elasticsearch/data/ca/ca.crt
      - xpack.security.transport.ssl.certificate=/usr/share/elasticsearch/data/es01/es01.crt
      - xpack.security.transport.ssl.key=/usr/share/elasticsearch/data/es01/es01.key
    volumes:
      - ${PWD}/.docker/es:/usr/share/elasticsearch/data:rw
    ports:
      - '9200'
      - '9300'

volumes:
  vendor-cache: